$title-size: 2em;
$white: #fff;
$black: #000;
$primary: #986633;
$display-font-weight: 700;
$carousel-dark-control-icon-filter: invert(1) grayscale(100);
@import "../../node_modules/bootstrap/scss/bootstrap";
a {
  text-decoration: none;
}
body {
  color: $white;
}
.my-header {
  font-weight: 500;
  background-color: $primary;
}
.my-logo-text {
  font-weight: 700;
  font-size: 30px;
  color: #fff;
}
.my-top {
  background-image: url("../images/main-background.png");
  min-height: 100vh;
  display: flex;
  justify-content: center;
  h1 {
    margin-top: 3.5em;
  }
}
.my-benefits {
  font-weight: 700;
  font-size: 1.5em;
}
.nav-link {
  color: $white;
}
h2 {
  font-size: $title-size;
}
.my-lead {
  font-weight: 700;
}
.my-social {
  background-color: #141414;
  font-size: 20px;
}
.my-carousel-item-img {
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-image: url("../images/car-key.png");
}
@include media-breakpoint-up(lg) {
  .my-header {
    background-color: transparent;
  }
  .my-top {
    h1 {
      margin-top: 2.5em;
    }
  }
  .my-logo-text {
    color: $primary;
  }
}
